@use '../abstracts/' as *;

.copyright {
  text-align: center;
  color: $secondary;
  @extend %text-preset-5;

  margin-bottom: map-get($map: $spacing, $key: 300);

  @include respond-to(md) {
    margin-bottom: map-get($map: $spacing, $key: 500);

  }
}