// frw'd to main
@use '../abstracts/' as *;

.top {

  overflow: hidden;
  margin-bottom: map-get($map: $spacing, $key: 300);

  @include respond-to(md) {
    margin-bottom: map-get($map: $spacing, $key: 500);
  }

  &__content {
    grid-column: 2/-2;
    margin-bottom: map-get($map: $spacing, $key: 800);

    @include respond-to(md) {
      grid-column: 2/8;
      margin-bottom: 0;
    }

    @include respond-to(lg) {
      grid-column: 2/7;
    }
  }

  &__text {

    margin-bottom: map-get($map: $spacing, $key: 400);

    @include respond-to(md) {
      margin-bottom: map-get($map: $spacing, $key: 500);

    }
  }

  &__title {
    color: $secondary-shade;
    @extend %text-preset-1;
    text-transform: uppercase;
  }

  &__description {
    color: $secondary;
    @extend %text-preset-5;
  }

  &__date {
    text-transform: uppercase;
    color: $secondary;
    @extend %text-preset-6;
    margin-left: map-get($map: $spacing, $key: 300);

    @include respond-to(lg) {
      margin-left: map-get($map: $spacing, $key: 500);
    }
  }

  &__cta {
    span {
      @extend %text-preset-6;
      text-transform: uppercase;
      color: $secondary;
      margin-left: map-get($map: $spacing, $key: 300);
    }
  }

  &__image-container {
    grid-column: 2/-1;
    overflow: hidden;
    border-radius: map-get($map: $radius, $key: 20) 0 0 map-get($map: $radius, $key: 20);
    margin-left: 8px;

    @include respond-to(md) {
      grid-column: 9/-1;
    }

    @include respond-to(lg) {
      grid-column: 8/-2;
      border-radius: map-get($map: $radius, $key: 20);
    }
  }

  &__image {
    height: px-to-rem(331);

    @include respond-to(md) {
      height: px-to-rem(425);
    }

    @include respond-to(lg) {
      height: px-to-rem(480);
    }


    width: 100%;
    object-fit: cover;
    object-position: left center;
  }
}