@use '../abstracts/' as *;

.wrapper {

  max-width: px-to-rem(1116);
  margin-inline: auto;

  // map-get() returns a value like 1.25rem
  // #{} forces Sass to insert the value directly into the CSS variable
  --gap: #{map-get($map: $spacing, $key: 800)};
  padding-block: map-get($map: $spacing, $key: 300);
  padding-inline: map-get($map: $spacing, $key: 200);

  @include respond-to(md) {
    --gap: #{map-get($map: $spacing, $key: 1000)};
    padding-block: map-get($map: $spacing, $key: 500);
    padding-inline: map-get($map: $spacing, $key: 400);

  }

  @include respond-to(lg) {
    --gap: #{map-get($map: $spacing, $key: 1500)};
    padding-inline: 0;
  }


}